
<div class="p-2 mb-2 bg-dark text-white">
<h1>Stupid Coaching</h1>

<h5>Ask your coach anything:</h5>
<br>

<form action="/answer" data-turbo="false">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
</div>
